<%- include("partials/header.ejs"); %>
<h2 class="date"><%= date %></h2>
    <div class="ctn ctn1 ctn2">
        <form action="/expenses" method="post">
            <label for="" class="form">Date:  </label>
            <input type="date" name="date" class="form"><br>
            <label for="" class="form">Spend to:  </label>
            <input type="text" name="what" class="form"><br>
            <label for="" class="form">Amount</label>
            <input type="text" name="amount" class="form"><br>
            <button type="submit" class="btn">Select</button>
        </form>
    </div>
    <a href="/">Back to Home</a>
    <hr class="addHR">
    
    <h2>History</h2>
    <div class="ctn ctn1 ctn4">
        <%expenses.forEach(function(expense){ %>
            <form action="/edelete" method="post">
                <div class="record">
                    <input type="hidden" class="item" name="del" value=<%= expense.id %>>
                    <span class="item"><%= expense.date %></span>
                    <span class="item"><%= expense.what %></span>
                    <span><%= expense.amount %></span> 
                    <button type="submit"><i class="fa-regular fa-trash-can"></i>                   
                    </button>
                </div>
            </form>
        <%}) %>
    </div>
</div>
<%- include("partials/footer.ejs"); %>
</body>
</html>