<%- include("partials/header.ejs"); %>
<h2 class="date"><%= date %></h2>
<div class="ctn ctn1 ctn2">
    <form action="/income" method="post">
        <label for="">Date:</label>
        <input type="date" name="date"><br>
        <label for="">Received through:  </label>
        <input type="text" name="way"><br>
        <label for="">Amount</label>
        <input type="text" name="amount"><br>
        <button type="submit" class="btn btn1">Select</button>
    </form>
</div>  
<a href="/">Back to Home</a>  
    <hr class="addHR">
    <h2>History</h2>
    <div class="ctn ctn1">
        <%incomes.forEach(function(income){ %>
            <form action="/idelete" method="post">
                <div class="record">
                    <input type="hidden" class="item" name="del" value=<%= income.id %>>
                    <span class="item"><%= income.date %></span>
                    <span class="item"><%= income.way %></span>
                    <span><%= income.amount %></span> 
                    <button type="submit"><i class="fa-regular fa-trash-can"></i>                   
                    </button>
                </div>
        <%}) %>
    </div>
</div>
<%- include("partials/footer.ejs"); %>
</body>
</html>