<%- include("partials/header.ejs"); %>
        <h2 class="date"><%= date %></h2>
        <h2>Income Records</h2>
        <a href="/">Back to Home</a>
        <hr>
        <div class="ctn ctn1 ctn3">
            <%incomes.forEach(function(income){ %>
                <div class="record">
                    <div><%= income.date %></div>
                    <div><%= income.way %></div>
                    <div><%= income.amount %></div>
                </div>
            <%}) %>
        </div>
    </div>
    <%- include("partials/footer.ejs"); %>
    </body>
    </html>